<template>
  <div id="app">
    <Home :msg="myMsg" />
  </div>
</template>

<script>
  import Home from './components/Home.vue';

  export default {
    name: 'App',
    components: {
      Home,
    },
    computed: {
      myMsg: function() {
        return 'Nothing here...';
      },
    },
  };
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: pink;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
